@model FoodFinder_WebApp.ViewModels.PratoDetalhesViewModel;


@{
    ViewData["Title"] = "ListaPratosDoDiaFavoritos";
}

<br /><br /><br />
<h3>Os seus Pratos Favoritos</h3>


    <partial name="/Views/AdicionarPratoDoDium/ListaPratos.cshtml" model=Model />
<br />
<br />
