@model IEnumerable<FoodFinder_WebApp.Models.ComentarioRestaurante>

@{
    ViewData["Title"] = "ListaComentariosNoRestaurante";
}

<br />
<br />
<h3>Comentários</h3>
<partial name="ListaComentarios" model=Model/>
