@model FoodFinder_WebApp.ViewModels.RestauranteDetalhesViewModel;

@{
    ViewData["Title"] = "ListaRestaurantesFavoritos";
}

<br />
<br />
<br />
<h3>Os seus Restaurantes Favoritos</h3>

<br />
<partial name="~/Views/Restaurante/ListaRestaurante.cshtml" model=Model />
<br />
<br />