@model FoodFinder_WebApp.Models.Utilizador

@{
    ViewData["Title"] = "AdicionarAdministrador";
}


<h3> <br /> <br /> Criar Novo Administrador <br /> <br /> </h3>


<partial name="~/Views/Utilizador/CriarUtilizador.cshtml"  model="Model" />





