@model FoodFinder_WebApp.Models.Utilizador

<link rel="stylesheet" href="~/css/Admincss.css" />
<link rel="stylesheet" href="~/css/PaginasSecundariascss.css" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CriarUtilizador">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label font-weight-bold " style="font-size:large"></label>
                <input name="nome" asp-for="Nome" class="form-controlad"  placeholder ="nome"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label font-weight-bold" style="font-size:large"></label>
                <input name="username" asp-for="Username" class="form-controlad" placeholder ="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label font-weight-bold" style="font-size:large"></label>
                <input name="email" type="email" asp-for="Email" class="form-controlad" placeholder="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label font-weight-bold" style="font-size:large" ></label>
                <input name="password" type="password" asp-for="Password" class="form-controlad" placeholder="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label font-weight-bold" style="font-size:large"></label>
                <input name="confirmarPassword" type="password" asp-for="Password" class="form-controlad" placeholder="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group ">
                <input asp-controller="Utilizador" asp-action="CriarUtilizador" type="submit" value="Criar" class="btnad btn-primary " />
            </div>
        </form>
    </div>
</div>



